/**
* @name FocusTheme
* @description placeholder
* @author qxxst
* @website https://github.com/qxxst/FocusTheme
* @version 0.1
* @authorLink https://github.com/qxxst
*/

/* Import dependencies */
@import url('https://cdn.jsdelivr.net/gh/qxxst/NoStatusStandalone@main/NoStatusStandalone.theme.css');
@import url('https://cdn.jsdelivr.net/gh/qxxst/NoShop@main/NoShop.theme.css');

/* Hide and disable voice channels */
a[aria-label*="(voice channel)"] {
    display: none;
    pointer-events: none;
}

.typeVoice_f4ba92 {
    display: none;
    pointer-events: none;
}

.list__02208 {
    display: none;
    pointer-events: none;
}

/* Hide server indicators without leaving a hole in icons */
rect[id="b5480220-8804-49e3-b278-5c0874d32e3a-upper_badge_masks"] {
    display: none;
}

.upperBadge_c7cfb3 {
    display: none;
}

div.wrapper__3af0b foreignObject[mask] {
    mask: none;
    clip-path: circle(50% at 50% 50%);
}