/**
* @name FocusTheme
* @description placeholder
* @author qxxst
* @website https://github.com/qxxst/FocusTheme
* @version 0.1
* @authorLink https://github.com/qxxst
*/

/* Hide and disable voice channels */
a[aria-label*="(voice channel)"] {
    display: none;
    pointer-events: none;
}

.typeVoice_f4ba92 {
    display: none;
    pointer-events: none;
}

.list__02208 {
    display: none;
    pointer-events: none;
}

div[aria-label="Voice Channels (category)"] {
    display: none;
    pointer-events: none;
}

/* Hide server indicators without leaving a hole in icons */
rect[id="b5480220-8804-49e3-b278-5c0874d32e3a-upper_badge_masks"] {
    display: none;
}

.upperBadge_c7cfb3 {
    display: none;
}

div.wrapper__3af0b foreignObject[mask] {
    mask: none;
    clip-path: circle(50% at 50% 50%);
}

/* Hide status indicators without leaving a hole in icons */
rect[mask="url(#svg-mask-status-online)"] {
    display: none;
}

rect[mask="url(#svg-mask-status-idle)"] {
    display: none;
}

rect[mask="url(#svg-mask-status-dnd)"] {
    display: none;
}

rect[mask="url(#svg-mask-status-offline)"] {
    display: none;
}

foreignObject[mask="url(#svg-mask-avatar-status-round-32)"] {
    mask: none;
    clip-path: circle(50% at 50% 50%);
}

foreignObject[mask="url(#svg-mask-avatar-status-round-120)"] {
    mask: none;
    clip-path: circle(50% at 50% 50%);
}

.mask__1979f circle {
    display: none;
}